body {
  margin: 0;
  font-family: 'IM Fell English', serif;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#ffffff90, #ffffff90),
    url('/frontend/images/candlekeepBackground.webp');
  //   background-size: cover;
  background-color: $color-bg-light;
}

h1 {
  color: $color-text;
  text-shadow: 0px 0px 4px $color-primary-light;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  //   background-color: #864414;
  background-image: linear-gradient(#ffffff60, #ffffff60),
    url('/frontend/images/navbarBackground.webp');
  background-size: contain;
  width: 100%;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3rem;
  width: 100%;
}

.whiteboard {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  max-width: 900px;
  width: 100%;
  min-width: 500px;
}

.notes-overview-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.nav-user-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 105px 100px 120px 140px;
  align-items: center;
  gap: 16px;
  width: 90%;
  border: 1px solid black;
  padding-left: 1.3rem;
  padding-right: 1rem;
  background-image: linear-gradient(#ffffff90, #ffffff90),
    url('/frontend/images/navbarBackground.webp');
}

.view-note-btns {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-top: 1px dashed black;
}

.delete-note-btns {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 2rem;
}

.edit-h2-div {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px dashed black;
  width: 100%;
  h2 {
    text-align: center;
  }
}
.edit-desc-div {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  margin-bottom: 1.5rem;
  border-bottom: 1px dashed black;
  width: 100%;
  p {
    text-align: center;
  }
}

.edit-desc-div.edit-mode {
  // background-color: red;
  padding: 0.47rem 0;
}

.viewNoteP {
  border-bottom: 1px dashed black;
  border-top: 1px dashed black;
  padding: 1rem 0;
  text-align: center;
}

.view-note-text-content-container {
  padding-top: 2rem;
}

.alignment-right {
  text-align: right;
}

.bold {
  font-weight: 700;
}

.margin-top-1-rem {
  margin-top: 1rem;
}

.margin-left {
  margin-left: 1.5rem;
}
