body {
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(236, 191, 158);
}

h1 {
  color: black;
  text-shadow: 0px 0px 4px #ffff88;
}

a {
  color: rgb(134, 68, 20);
  text-decoration: none;
}

a:hover {
  color: #d86800;
  text-decoration: underline 2px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgb(134, 68, 20);
  width: 100%;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.whiteboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-note {
  background-color: #ffff88;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid black;
  box-shadow: 8px 8px 10px black;
  cursor: pointer;
}
.todo-note-done {
  background-color: #88ff88;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid black;
  box-shadow: 8px 8px 10px black;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  max-width: 900px;
  width: 100%;
  min-width: 00px;
}

.input-container {
  margin: 1rem 0;
}

.green {
  color: green;
  font-weight: 700;
}
.red {
  color: darkred;
  font-weight: 700;
}

button {
  background-color: #ff7b00;
  padding: 0.5rem 1rem;
  color: #ffff88;
  font-size: 1rem;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
}

button:hover {
  background-color: #ffff88;
  color: #d86800;
}

.textfield {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #ff7b00;
  width: 250px;
  /* background-color: #ffff88; */
  font-size: 1.2rem;
  box-shadow: 3px 3px 3px black;
  margin-right: 1rem;
}

.textfield:focus {
  border: 1px solid #ff7b00;
  background-color: antiquewhite;
}

.form-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 20px;
  margin: 10px;
}

.error {
  color: red;
}

.margin-top-1-rem {
  margin-top: 1rem;
}
