.feedback-section {
  background-image: linear-gradient(#ffffff90, #ffffff90),
    url('/frontend/images/navbarBackground.webp');
  border: 1px solid black;
  border-top: none;
}

.feedback-container {
  padding: 0 1rem;
}

.msg-success {
  color: $color-primary-hover;
  line-height: 0;
}

.msg-failure {
  color: red;
  line-height: 0;
}
