.input-container {
  margin: 1rem 0;
}

.textfield {
  padding: 0.3rem 0.5rem 0.3rem 0.8rem;
  border-radius: 5px;
  border: none;
  width: 450px;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.textfield-100-w {
  padding: 0.3rem 0.5rem 0.3rem 0.8rem;
  border-radius: 5px;
  border: none;
  width: 95%;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.textfield:focus {
  background-color: antiquewhite;
}

.form-label {
  padding: 10px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: center;
  gap: 16px;
  background-image: linear-gradient(#ffffff90, #ffffff90),
    url('/frontend/images/navbarBackground.webp');
  border: 1px solid black;
  margin-bottom: 16px;

  span {
    text-align: right;
  }
}

input {
  font-family: 'IM Fell English', serif;
  font-size: 1.1rem;
}
