a {
  color: $color-primary;
  text-decoration: none;
}

a:hover {
  color: $color-primary-hover;
  text-decoration: underline 2px;
}

.navLink {
  color: $color-primary;
  cursor: pointer;
}

.navLink:hover {
  color: $color-primary-hover;
  text-decoration: underline 2px;
}
