$color-primary: #023500;
$color-primary-btn: #05920080;
$color-primary-border-btn: #024b00;
$color-hover-border-btn: #047a00;
$color-hover-btn: #09ff0090;
$color-red-btn: #bd000090;
$color-hover-red-border-btn: #9e0000;
$color-red-border-btn: #410000;
$color-hover-red-btn: #ff000080;

$color-primary-hover: #008000;
$color-primary-light: #ffe0b7;
$color-bg-light: #ecbf9e;
$color-text: #000;
